/* Footer Container */
.footer {
    background-color: rgb(3, 27, 3);
    color: #fff;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
  
  /* Logo Section */
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-logo img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  .footer-logo img:hover {
    transform: scale(1.1);
  }
  .footer-logo p {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  .footer-logo span {
    font-size: 14px;
    color: #d1d1d1;
  }
  
  /* Navigation Links */
  .footer-links {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
  }
  .footer-links li {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
  }
  .footer-links li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #fff;
    transition: width 0.3s;
    bottom: -5px;
    left: 0;
  }
  .footer-links li:hover::after {
    width: 100%;
  }
  .footer-links li:hover {
    color: #ddd;
  }
  
  /* Social Media Icons */
  .footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footer-icons-container {
    padding: 15px;
    border-radius: 50%;
    background: #f5efe6;
    transition: transform 0.3s, background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-icons-container:hover {
    transform: scale(1.1);
    background-color: #f5efe6;
  }
  .footer-icons-container img {
    width: 25px;
  }
  
  /* Copyright Section */
  .footer-copyright {
    text-align: center;
    color: #ccc;
    font-size: 14px;
    width: 100%;
  }
  .footer-copyright hr {
    /* width: 80%; */
    /* left: 120px; */
    border: none;
    border-radius: 10px;
    height: 1px;
    background: #f5efe6;
    margin-bottom: 20px;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 800px) {
    .footer {
      gap: 20px;
    }
    .footer-logo p {
      font-size: 28px;
    }
    .footer-links {
      flex-direction: column;
      gap: 15px;
    }
    .footer-links li {
      font-size: 16px;
    }
    .footer-social-icon {
      gap: 15px;
    }
  }